@import './base.css';

body {
    background-color: var(--background-color);
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#app {
    user-select: none;
}

.btn {
    border-radius: 2px;
}

.text {
    font-family: 'Exo', sans-serif;
}

label {
    font-family: 'Exo', sans-serif;
    color: #444;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: left;
    margin: 0;
}